/* Styles de la pop-up */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Centrage absolu */
    z-index: 1000;  /* S'assurer que la pop-up est au-dessus des autres éléments */
    width: 80%;  /* Vous pouvez ajuster la largeur selon vos besoins */
    max-width: 700px;  /* Limiter la largeur maximale pour les grands écrans */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet de profondeur */
}


/* Bouton pour fermer */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Boutons */
.cookie-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

/* Bouton Accepter */
.accept {
    background-color: #4CAF50;
    color: white;
}

/* Bouton Refuser */
.refuse {
    background-color: #f44336;
    color: white;
}

/* Bouton hover */
.cookie-button:hover {
    opacity: 0.8;
}

.cookie-category {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.cookie-category h3 {
    margin-bottom: 10px;
}

.cookie-button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ddd; /* gris au départ */
    transition: background-color 0.3s ease;
}

.save-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #0056b3;
}
